@tailwind base;
@tailwind components;
@tailwind utilities;

#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.form-check {
    flex-basis: calc(20% - 1rem); /* 5 items per row, adjust as necessary */
    display: flex;
    flex-direction: column;
}